<h1>Editing Smartphone</h1>

<%= render 'form', smartphone: @smartphone %>
<br/>
<%= link_to 'Show', @smartphone,  class:"btn btn-outline-dark" %> 
<%= link_to 'Back', smartphones_path, class:"btn btn-outline-dark" %>
